# Build directories
/build/
/dist/

# Compiled Python files
*.pyc
__pycache__/

# Virtual environment
venv/
env/
*.venv

# IDE-specific files
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Dependency directories
node_modules/
